@model object

@{
    ViewBag.Title = "Личный кабинет";
    Layout = "_Layout";
}
<div class="miniblock">
    <div class="serij">
        <h1>Личный кабинет</h1>
    </div>
    <div class="insideblock">
        <p>Личный кабинет на ремонте</p>
    </div>
</div>