@model SettingsViewModel

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <h5>Наши Контакты </h5>
            <hr>
            @Html.Raw(Model.Contacts)
        </div>
        <div class="col-sm-9">
            <h5>Наши Принципы: </h5>
            <hr>
            @Html.Raw(Model.Principles)
        </div>
    </div>
</div>