body {
    background-color: #fff;
    background-image: url('../img/concrete_seamless.png');
    font-family: "RobotoRegular", sans-serif;
    font-size: 14pt;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
    border: red 2px solid;
}

body input:required:valid,
body textarea:required:valid {
    border: green 2px solid;
}

p {
    font-family: 'RobotoLight', sans-serif;
    font-size: 12pt;
}

h1 {
    font-family: 'RobotoLight', sans-serif;
    font-size: 20pt;
}

h2 {
    font-family: 'RobotoLight', sans-serif;
    font-size: 18pt;
}

h3 {
    font-family: 'RobotoRegular', sans-serif;
    font-size: 16pt;
}

h4 {
    Font-size: 14pt;
}

.header_topline {
    background-color: #ffffff;
    color: #676767;
    font-size: 12pt;
    padding: 0;
    -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.3) inset;
    -moz-box-shadow: 0 0 40px rgba(0, 0, 0, 0.3) inset;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3) inset;
}

.header_topline a {
    color: #676767;
}

.fillcontainer {
    position: relative;
    background-color: #ffffff;
    width: 100%;
    padding: 1em;
    margin-bottom: 20px;
    margin-top: 30px;
    border-radius: 8px;
    -moz-border-radius: 4px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.fillcontainer:before,
.fillcontainer:after {
    content: "";
    position: absolute;
    z-index: -2;
    bottom: 15px;
    left: 10px;
    width: 50%;
    height: 10%;
    max-width: 300px;
    -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

.fillcontainer:after {
    right: 10px;
    left: auto;
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg);
}

.logo_wrap {
    display: block;
    padding: 10px 0;
    text-align: center;
    width: 220px;
}

.logo_wrap img {
    width: 100%;
}

.top_contact {
    padding-top: 88px;
    text-align: right;
    vertical-align: bottom;
}

.soc_buttons {
    float: right;
    padding-top: 80px;
    padding-right: 15px;
}

.soc_buttons a {
    font-size: 22px;
    margin-left: 4px;
}

.centr {
    width: 100%;
    margin-top: 0;
    padding-top: 0;
}
/* ----------Main menu wrapper------- */

.cbp-hsmenu-wrapper {
    position: relative;
}


/* Common style for all lists */

.cbp-hsmenu-wrapper ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}


/* 100% width bar for menu */

.cbp-hsinner {
    background: #385aa6;
    position: relative;
    z-index: 50;
}


/* Main menu style */

.cbp-hsmenu-wrapper .cbp-hsmenu {
    margin: 0 auto;
    max-width: 64em;
    padding: 0 1.5em;
}

.cbp-hsmenu > li {
    display: inline-block;
    margin-left: 4em;
}

.cbp-hsmenu > li a {
    text-decoration: none;
}

.cbp-hsmenu > li:first-child {
    margin-left: 0;
}


/* Main menu link style */

.cbp-hsmenu > li > a {
    color: #fff;
    display: inline-block;
    font-size: 14pt;
    font-family: "RobotoRegular", sans-serif;
    line-height: 3em;
    position: relative;
    z-index: 10000;
}

.no-touch .cbp-hsmenu > li > a:hover,
.no-touch .cbp-hsmenu > li > a:focus,
.cbp-hsmenu > li.cbp-hsitem-open > a {
    color: #fbfce4;
}


/* Add an arrow to the main menu link if it has a submenu (not the only child) */

.cbp-hsmenu > li > a:not(:only-child):before {
    content: "\f107";
    display: inline-block;
    font-family: 'bpmenu';
    font-size: 80%;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    margin-right: 0.3em;
    opacity: 0.4;
    speak: none;
    text-transform: none;
    vertical-align: middle;
}

.cbp-hsmenu > li.cbp-hsitem-open > a:not(:only-child):before {
    content: "\f106";
}


/* Add a triangle to currently open menu item link */

.cbp-hsmenu > li.cbp-hsitem-open > a:after {
    border: solid transparent;
    border-color: transparent;
    border-top-color: #385aa6;
    border-width: 10px;
    content: " ";
    height: 0;
    left: 50%;
    margin-left: -10px;
    pointer-events: none;
    position: absolute;
    top: 100%;
    width: 0;
}


/* Submenu style */

.cbp-hssubmenu {
    left: 0;
    position: absolute;
    text-align: center;
    top: 100%;
    visibility: hidden;
    width: 100%;
    z-index: 0;
}

.cbp-hssubmenu:before,
.cbp-hssubmenu:after {
    content: " ";
    display: table;
}

.cbp-hssubmenu:after {
    clear: both;
}


/* Let's allow 6 item in a row */

.cbp-hssubmenu > li {
    box-shadow: -28px 0 0 -27px #ddd, 0 -28px 0 -27px #ddd;
    display: inline-block;
    opacity: 0;
    -webkit-transition: opacity 0.1s 0s;
    -moz-transition: opacity 0.1s 0s;
    transition: opacity 0.1s 0s;
    vertical-align: top;
    width: 16.2%;
}


/* First 6 items don't have upper box shadow */

.cbp-hssubmenu > li:nth-child(-n + 6) {
    box-shadow: -28px 0 0 -27px #ddd;
}


/* Every 7th item does not have a left box shadow */

.cbp-hssubmenu > li:nth-child(6n + 1) {
    box-shadow: 0 -28px 0 -27px #ddd;
}


/* The first one does not have any box shadow */

.cbp-hssubmenu > li:first-child {
    box-shadow: none;
}

.cbp-hssubmenu > li a {
    color: #a2a2a2;
    display: block;
    padding: 2em 1em 1em 1em;
    text-align: center;
}

.no-touch .cbp-hssubmenu > li a:hover,
.no-touch .cbp-hssubmenu > li a:focus {
    color: #e8e8e8;
}

.cbp-hssubmenu > li a img {
    border: none;
    display: inline-block;
    margin: 0;
    max-width: 100%;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.no-touch .cbp-hssubmenu > li a:hover img {
    opacity: 0.5;
}

.cbp-hssubmenu > li a span {
    display: block;
    margin-top: 0.4em;
    min-height: 3em;
}

.cbp-hsmenu > li.cbp-hsitem-open .cbp-hssubmenu {
    visibility: visible;
    z-index: 1000;
}

.cbp-hsmenu > li.cbp-hsitem-open .cbp-hssubmenu > li {
    opacity: 1;
    -webkit-transition: opacity 0.5s 0.1s;
    transition: opacity 0.5s 0.1s;
}


/* Helper div for animating the background */

.cbp-hsmenubg {
    background: #f7f7f7;
    height: 0;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 20;
}

.no-touch .cbp-hsmenubg {
    -webkit-transition: height 0.3s;
    transition: height 0.3s;
}


/* ============================= left navigation bar============================= */

.leftnavbar {
    position: fixed;
    float: left;
    z-index: 50;
    top: 20%;
}

#navigationMenu {
    padding: 0;
    display: none;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

#navigationMenu li {
    list-style: none;
    height: 117px;
    padding: 0;
    width: 65px;
}

#navigationMenu span {
    /* Container properties */
    width: 0px;
    left: 64px;
    padding: 0;
    position: absolute;
    overflow: hidden;
    /* Text properties */
    font-family: 'Myriad Pro', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.6px;
    white-space: nowrap;
    line-height: 117px;
    /* CSS3 Transition: */
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    transition: 0.25s;
}

#navigationMenu a {
    background: url('../img/navigation.png') no-repeat;
    height: 117px;
    width: 65px;
    display: block;
    position: relative;
}


/* General hover styles */

#navigationMenu a:hover span {
    width: auto;
    height: 117px;
    padding: 0 60px;
    overflow: visible;
}

#navigationMenu a:hover {
    text-decoration: none;
}


/* 1 Button */

#navigationMenu .cabinet {
    background-position: 0 0;
}

#navigationMenu .cabinet:hover {
    background-position: 0 -117px;
}

#navigationMenu .cabinet span {
    background-color: #385aa6;
    color: #ffffff;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}


/* 2 Button */

#navigationMenu .online_zakaz {
    background-position: -65px 0;
}

#navigationMenu .online_zakaz:hover {
    background-position: -65px -117px;
}

#navigationMenu .online_zakaz span {
    background-color: #353535;
    color: #ffffff;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}


/* 3 Button */

#navigationMenu .hronomer {
    background-position: -130px 0;
}

#navigationMenu .hronomer:hover {
    background-position: -130px -117px;
}

#navigationMenu .hronomer span {
    background-color: #75b94c;
    color: #ffffff;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}


/* 4 Button */

#navigationMenu .pagemeter {
    background-position: -195px 0;
}

#navigationMenu .pagemeter:hover {
    background-position: -195px -117px;
}

#navigationMenu .pagemeter span {
    background-color: #a41734;
    color: #ffffff;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}


/* 5 Button */

#navigationMenu .contact {
    background-position: -260px 0;
}

#navigationMenu .contact:hover {
    background-position: -260px -117px;
}

#navigationMenu .contact span {
    background-color: #f0ad39;
    color: #353535;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}


/* ------------- end --------------------------- */

#carousel {
    box-shadow: 2px 2px 3px #a2a2a2;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    min-height: 230px;
    /* Set slide height here */
    width: 100% !important;
}

.container-fluid {
    padding: 0;
}

.carousel-caption > h3 {
    color: #ffffff;
    font-family: "RobotoLight", sans-serif;
    font-size: 30px;
    text-shadow: 1px 1px 2px #343434;
    margin: 0;
}

.center_btn {
    bottom: 0;
    left: 0;
    margin: 0 auto;
    position: relative;
    right: 0;
    top: 15%;
    padding: 30px;
}

.zakaz_btn {
    background: #75b94c;
    border-color: transparent;
    border-radius: 8px;
    color: #ffffff;
    font-size: 14pt;
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.zakaz_btn:hover {
    background: #599931;
    text-decoration: none;
    -webkit-transition: background-color .6s ease;
    transition: background-color .6s ease;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3)
}


/* ------------- 4блока--------------------------- */

.miniblock {

    background-color: #fff;
    border-radius: 8px 8px 0 0;
    position: relative;
    width: 100%;
    margin: 0 0 15px 0;
    padding-bottom: 15px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-border-radius: 8px;
}

.miniblock:before,
.miniblock:after {
    content: "";
    position: absolute;
    z-index: -2;
    bottom: 15px;
    left: 10px;
    width: 50%;
    height: 20%;
    max-width: 300px;
    -webkit-box-shadow: 0 15px 10px rgba(100, 100, 100, 0.7);
    -moz-box-shadow: 0 15px 10px rgba(100, 100, 100, 0.7);
    box-shadow: 0 15px 10px rgba(100, 100, 100, 0.7);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

.miniblock:after {
    right: 10px;
    left: auto;
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg);
}

.quikblock {
    color: #404040;
    font-family: "RobotoLight", sans-serif;
    font-size: 12pt;
    text-align: left;
    line-height: 23px;
    list-style-type: disc;
}

.grn {
    background: #75b94c;
    margin: 30px 0 5px 0;
    text-align: center;
    display: block;
    line-height: 60px;
    border-radius: 8px 8px 0 0;
    -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 0 40px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2) inset;
}

.red {
    background: #a41734;
    margin: 30px 0 5px 0;
    text-align: center;
    display: block;
    line-height: 60px;
    border-radius: 8px 8px 0 0;
    -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 0 40px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2) inset;
}

.blue {
    background: #385aa6;
    margin: 30px 0 5px 0;
    text-align: center;
    display: block;
    line-height: 60px;
    border-radius: 8px 8px 0 0;
    -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 0 40px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2) inset;
}

.yeelow {
    background: #f0ad39;
    margin: 30px 0 5px 0;
    text-align: center;
    display: block;
    line-height: 60px;
    border-radius: 8px 8px 0 0;
    -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 0 40px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2) inset;
}

.serij {
    background: #353535;
    margin: 30px 0 5px 0;
    text-align: center;
    display: block;
    line-height: 60px;
    border-radius: 8px 8px 0 0;
    -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 0 40px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2) inset;
}

.grn,
.yeelow,
.blue,
.red,
.serij h1 {
    color: #fff;
    padding: 10px 0;
}

.rightbar > h2 {
    padding: 15px 0 0 0;
    margin: 0;
}

.link1 {
    font-size: 10pt;
    padding-left: 25px;
}


/* ------------------ 4блока конец---------------------- */

.about {
    margin-top: 40px;
    padding: 15px;
}

.palitra {
    padding-right: 10px;
    display: block;
    float: right;
    width: 80px;
}



.headliner {
    border-bottom: 1px solid #b7b7b7;
    margin: 10px;
    position: relative;
    overflow: hidden;
    height: 35px;
    background: url('../images/palit.png') no-repeat;
    background-position: right;
}

.headliner h1 {
    margin: 0;
}


.palitraBG {
    background: url('../images/palit.png') no-repeat;
    width: 80px;
    height: 20px;
    float: right;
    vertical-align: bottom;
}

.basictext {
    color: #404040;
    font-family: "RobotoLight", sans-serif;
    font-size: 12pt;
    padding: 20px 10px;
    width: 100%;
    text-align: justify;
}

.basictext:first-letter {
    margin-left: 40px;
}

.nospace {
    margin: 12px 0 2px 0;

}

.leftbar p {
    color: #404040;
    font-family: "RobotoLight", sans-serif;
    font-size: 12pt;
    padding: 10px 10px;
    text-align: justify;
}

.rightbar p {
    color: #404040;
    font-family: "RobotoLight", sans-serif;
    font-size: 12pt;
    padding: 0 10px;
    text-align: justify;
}

.righttext {
    float: left;
    margin-top: 10px;
    text-align: justify;
    text-indent: 40px;
    padding-right: 10px;
}

.littext {
    text-align: justify;
    font-family: "RobotoLight", sans-serif;
    font-size: 14px;
    margin: 0;
}

.cursive {
    font-family: "RobotoLightItalic", sans-serif;
    font-size: 14px;
    padding: 0;
    border-bottom: 1px solid #d0d0d0;

}


.circle_wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 200px;
}

.btn_circle {
    background: #f0ad39;
    border: 6px double #f4c26d;
    border-radius: 50%;
    color: #fff;
    display: block;
    font-family: "RobotoLight", sans-serif;
    font-size: 24px;
    height: 200px;
    line-height: 29px;
    margin: auto;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    width: 200px;
    box-shadow: 1px 1px 3px #b9b9b9;
}


.btn_circle:hover {
    background: #ffdb9c;
    border: 6px double #f0ad39;
    color: #f0ad39;
    text-decoration: none;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    cursor: default;
}

.h1block {
    color: #fff;
    display: block;
    font-family: "RobotoLight", sans-serif;
    font-size: 20pt;
}

.h2block {
    color: #fff;
    font-family: "RobotoLight", sans-serif;
    font-size: 14pt;
    vertical-align: middle;
    font-weight: inherit;
}

.sign {
    display: inline-block;
    margin: 10px 0 10px 5px;
    /* Отступы вокруг */
    padding: 20px;
    /* Поля внутри блока */
}

.sign figcaption {
    color: #fff;
    font-family: "RobotoLight", sans-serif;
    font-size: 20px;
    margin: 0 auto;
    /* Отступы вокруг абзаца */
}

.incircle {
    behavior: url(border-radius.htc);
    /*IE */
    border: 3px solid #fff;
    /* Safari, Chrome */
    /* Firefox */
    /* Safari, Chrome */
    border-radius: 200px;
    cursor: pointer;
    padding: 10px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.incircle:hover {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}


/* ------------------ Progress Board---------------------- */

.moveone {
    display: block;
    margin-bottom: 15px;
    position: relative;
    top: 0;
    -webkit-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}

.moveone:hover {
    top: 15px;
}

.moveone > div > a {
    text-decoration: none;
    color: #fefefe;
}

.box_blue {
    background: rgb(56, 92, 168);
    border-radius: 12px 12px 0 0;
    padding: 30px;
    text-align: center;
    z-index: 12;
}

.rect_blue {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #385aa6;
    bottom: 1;
    content: "";
    height: 0;
    position: absolute;
    right: 49%;
    width: 0;
    z-index: 12;
}

.rect_mid {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #a41734;
    bottom: 1;
    content: "";
    height: 0;
    position: absolute;
    right: 49%;
    width: 0;
    z-index: 12;
}

.box_red {
    background: #a41734;
    display: block;
    padding: 30px;
    position: relative;
    text-align: center;
    z-index: 9;
}

.rect_red {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #fff;
    content: "";
    height: 0;
    margin: 0;
    position: absolute;
    right: 49%;
    top: 0;
    width: 0;
    z-index: 10;
}

.rectangle1 {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #a41734;
    content: "";
    height: 0;
    position: absolute;
    right: 22.8%;
    top: 100%;
    width: 0;
    z-index: 10;
}

.rectangle2 {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #a41734;
    content: "";
    height: 0;
    left: 22.8%;
    position: absolute;
    top: 100%;
    width: 0;
    z-index: 10;
}

.rect_r {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #fff;
    content: "";
    position: absolute;
    right: 47%;
    top: 0;
    width: 0;
    z-index: 9;
}

.rect_gr_l {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #75b94c;
    content: "";
    height: 0;
    left: 47%;
    position: absolute;
    top: 100%;
    width: 0;
    z-index: 10;
}

.rect_gr_r {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #75b94c;
    content: "";
    height: 0;
    position: absolute;
    right: 46%;
    top: 100%;
    width: 0;
    z-index: 10;
}

.rect_yel_l {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #f0ad39;
    content: "";
    height: 0;
    left: 46%;
    position: absolute;
    top: 100%;
    width: 0;
    z-index: 10;
}

.rect_yel_r {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #f0ad39;
    content: "";
    height: 0;
    position: absolute;
    right: 47%;
    top: 100%;
    width: 0;
    z-index: 10;
}

.rect_l {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #fff;
    content: "";
    left: 47%;
    position: absolute;
    top: 0;
    width: 0;
    z-index: 9;
}

.rectend_r {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #fff;
    content: "";
    position: absolute;
    right: 23.1%;
    top: 0;
    width: 0;
    z-index: 9;
}

.rectend_l {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #fff;
    left: 23.1%;
    position: absolute;
    top: 0;
    width: 0;
    z-index: 9;
}

.box_green {
    background: #75b94c;
    padding: 30px;
    position: relative;
    text-align: center;
    z-index: 9;
}

.box_yellow {
    background: #f0ad39;
    padding: 30px;
    position: relative;
    text-align: center;
    z-index: 9;
}

.boxend_blue {
    background: #385aa6;
    border-radius: 0 0 12px 12px;
    margin: 0 0 40px 0;
    padding: 20px;
    position: relative;
    text-align: center;
    z-index: 8;
}

.boxend_green {
    background: #75b94c;
    border-radius: 0 0 12px 12px;
    margin: 0 0 40px 0;
    padding: 20px;
    position: relative;
    text-align: center;
    z-index: 8;
}

.liners {
    background-color: #adadad;
    margin-top: 20px;
    width: 100%;
}

.round {
    border: 0;
    /* Параметры рамки */
    border-radius: 100px;
    /* Радиус скругления */
    box-shadow: 0 0 4px #666;
    /* Параметры тени */
    margin-left: 50px;
    margin-top: 10px;
}

hr {
    background-color: #cecece;
    border: 0;
    height: 1px;
    margin: 10px 0;
}

.feedback {
    font-family: "RobotoLight", sans-serif;
    font-style: italic;
}


/*------------------footer ----------------------- */

#footer {
    background-color: #333333;
    font-family: "RobotoLight", sans-serif;
    font-style: normal;
    font-size: 12px;
    color: #fff;
    padding: 20px 0 20px 0;
}

.coment {
    font-family: "RobotoLightItalic", sans-serif;
    font-size: 14px;
    color: #e5e5e5;
    text-align: justify;
}

.footer_mn {
    padding: 0;
    font-size: 12pt;
}

.footer_mn > ul {
    list-style: none;
    padding: 0;
}

.footer_mn > ul > li {
    display: inline-block;
    position: relative;
}

.footer_mn > ul > li > a {
    color: #e5e5e5;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1;
    margin-right: 1em;
    text-decoration: none;
}

.footer_mn > ul > li > a:hover,
.footer_mn > ul > li > a:focus {
    text-decoration: underline;
}

footer a {
    color: #f0ad39;
}

footer a:hover,
footer a:focus,
footer a:active {
    color: #f0ad39;
    text-decoration: none;
}

/*============кнопка обратный звонок и анкета=================*/

.anketa_btn {
    background: #75b94c;
    border-color: transparent;
    border-radius: 6px;
    display: block;
    text-align: center;
    width: 120px;
    color: #fff;
    font-size: 14px;
    padding: 10px;
    text-decoration: none;
    margin: 10px auto;

    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3)
}

.anketa_btn:hover {
    background: #599931;
    color: #fff;
    text-decoration: none;
    -webkit-transition: background-color .6s ease;
    transition: background-color .6s ease;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3)
}


.hidden {
    display: none;
}

.pop_form {
    padding: 15px;
    text-align: right;
}

.pop_form input [type=text] {
    display: block;
    line-height: 24px;
    width: 90%;
    border: #999 1px solid;
}

.pop_form input {
    margin: 6px;
    font-size: 12pt;
}

.pop_form textarea {
    margin: 6px;
    font-size: 12pt;
}

.pop_form button {
    margin: 5px;
}

.pop_form h4 {
    margin: 10px auto 15px;
    text-align: center;
    font-weight: normal;
    font-family: "RobotoBold";
    text-transform: uppercase;

}

.pop_form p {
    margin: 10px auto 15px;
    text-align: center;
    font-weight: normal;
    font-family: "RobotoLight";
    font-size: 12pt;

}
/*================vertical tab----------------------*/
.tabbles {
    padding: 0;
}
.tabs-left > .nav-tabs {
  padding-bottom: 40px;
    color: white;
}

.tabbles> .tab-content > .tab-pane {
  display: none;

}
.tabbles> .tab-content > .active {
  display: table;
   margin: 0;
   padding: 0;
}


.tabs-left > .nav-tabs > li {
  float: none;

}

.tabs-left > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 0px;
  font-family: "RobotoLight"; 
  font-size: 12pt;
  border-bottom: 1px solid #bcbcbc;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 10px;
  background-color: #e6e6e6;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;  
  

}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
    color: #4b4b4b;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  background-color: #898989;
  color: white;
 -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;  
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {

  background-color: #3a5d9d;
  color: white;
}

#ex3, #ex4 {
    padding-bottom: 10px;
    overflow: hidden;
}
/*=====================table==========================*/

#scrollup {
    position: fixed;
    opacity: 0.8;
    padding: 15px 10px 10px;
    background: #aaa;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    right: 15px;
    bottom: 10px;
    display: none;
    cursor: pointer;
}

/*=====================table==========================*/

.table-responsive {
    margin-top: 50px;
}

.features-table {
    width: 100%;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0;
    text-shadow: 0 1px 0 #fff;
    color: #2a2a2a;
    background: #fafafa;
    background-image: -moz-linear-gradient(top, #fff, #eaeaea, #fff);
    /* Firefox 3.6 */
    background-image: -webkit-gradient(linear, center bottom, center top, from(#fff), color-stop(0.5, #eaeaea), to(#fff));
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 11pt;
    font-family: 'RobotoRegular', sans-serif;
    overflow: x;
}

.features-table td {

    -moz-box-shadow: 0 1px 0 white;
    -webkit-box-shadow: 0 1px 0 white;
    border-bottom: 1px solid #cdcdcd;
    box-shadow: 0 1px 0 white;
    display: table-cell;
    height: 35px;
    padding: 3px 3px 3px 3px;
    text-align: center;
    vertical-align: middle;
}

.features-table tbody td {
    text-align: center;
}

.features-table td.grey {
    background: #efefef;
    background: rgba(144, 144, 144, 0.15);
    border-right: 1px solid white;
    text-align: center;
    padding: 5px 15px;
}

.features-table td .white {
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px dashed;
}

.features-table td.green {
    background: #d2f7bf;
}

.features-table td:nowrap {
    white-space: nowrap;
}

.features-table thead td {
    font-size: 100%;
    font-weight: bold;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top: 1px solid #eaeaea;
}

.features-table tfoot td {
    font-size: 80%;
    font-weight: bold;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom: 1px solid #dadada;
}



/* -------------  --------------------------- */

.leftbar {
    padding: 0px 5px 0px 15px;
    margin-bottom: 5px;
}

.leftbar .basictext {
    font-size: 12pt;
    padding-top: 0;
}

/*-----------------------вкладки------------------------ */

.leftbar > input {
    display: none;
}

.leftbar > input:checked + label {
    text-decoration: underline;
    color: #404040;
    font-weight: bold;
}

.leftbar > label {
    cursor: pointer;
    display: block;
    float: left;
    padding: 5px, 10px;
    color: #5a5a5a;
    text-decoration: none;
    margin-right: 5px;
    font-size: 12pt;
}

#vkladki {
    clear: both;
    position: relative;
}

#vkladki > div {
    position: absolute;
    visibility: hidden;
    width: 100%;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.6s, visibility 0.6s;
}

#n1:checked ~ #vkladki > div:nth-of-type(1),
#n2:checked ~ #vkladki > div:nth-of-type(2),
#n3:checked ~ #vkladki > div:nth-of-type(3) {
    visibility: visible;
    opacity: 1;
}

.rightbar {
    padding-right: 15px;
}

.rightbar > .basictext {
    margin: 0;
    padding-bottom: 0px;

}

.rightbar > h2 {
    text-align: right;
    margin: 0 20px 22px 10px;

}

.rightbar > h4 {
    margin-top: 0;
    margin-left: 10px;
}

#choose > ul > li {
    font-size: 12pt;
}

#choose > ul {
    margin: 0;
}

.players {
    tab-size: 50px;
}

.left_img {
    margin: 10px;
    float: left;

}

.inside {
    padding: 20px 20px 0 20px;
    margin-top: 20px;
}

.input-group {
    margin-bottom: 10px;

}

.modal-content {
    padding: 10px 30px 0 40px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background-color: #385aa6;
    cursor: inherit;
    display: block;
}

/*----tab for video----*/

.nav-pills > li > a {
    font-size: 12pt;
}

.nav-pills {
    padding: 0 3px 10px 3px;
}

.costimg {
    padding-right: 10px;
    padding-top: 10px;
}

/*----форма опроса----*/

.oprosnik {
    margin: 0 20px 0 30px;
    padding: 30px 30px;
    border: 1px dashed grey;
    border-radius: 8px;
}

/*  Скопируйте код ниже в ваш файл стилей (CSS файл)  */

#search-block-form {
    width: 248px;
    height: 28px;
    border-radius: 6px;
    border: #c9c9c9 solid 1px;
    background: url('../images/searchBg.png') left top repeat-x;
    margin: 20px;
}

.focus-active {
    border-color: #aaa !important;
    background: #fff !important;
}

#search-block-form input {
    padding: 0;
    margin: 0;
    display: block;
    border: none;
    outline: none;
    background: none;
    width: 100%;
    height: 100%;
}

#search-block-form .form-actions {
    width: 28px;
    height: 28px;
    float: left;
    background: url('../images/searchIcon.png') 5px 2px no-repeat;
}

#search-block-form .form-actions input:hover {
    cursor: pointer;
}

#search-block-form .form-actions input {
    overflow: hidden;
    text-indent: -9999px;
}

#search-block-form .form-item {
    width: 210px;
    padding: 0px 5px;
    float: right;
    height: 28px;
}

#search-block-form .form-item input {
    font: 13px/16px "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #222;
    height: auto !important;
    padding: 6px 0;
}

.placeholder {
    color: #cbcbcb !important;
}

/* Конец */

.whitetext {
    font-family: "RobotoLight", sans-serif;
    font-size: 12pt;
    color: white;
    padding-bottom: 10px;
    margin: 0;
}

.hronodiv {
    margin: 20px;
}

.linerow {
    margin: 30 auto;

}

.centrik {
    padding: 5px;
    align-content: center;
}

/*помощник*/

#panelr {
    position: fixed;
    /* положение */
    top: 40%;
    /* отступ сверху */
    right: 0;
    /* отступ слева */
    background: #A41735;
    /* цвет фона */
    width: 30px;
    /* ширина блока */
    height: 40px;
    /* высота блока */
    font: 14px;
    /* размер и тип шрифта */
    color: white;
    /* цвет текста */
    text-align: center;
    /* выравнивание текста по центру */
    padding: 5px;
    /* отступы от границ внутри блока */
    z-index: 100;

    -webkit-transition-duration: 0.3s;
    /* анимационное выдвижение для всех браузеров*/
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;

    -webkit-border-radius: 5px 0 0 5px;
    /* закругление границ для всех браузеров*/
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
}

#helpform {
    position: fixed;
    top: 40%;
    right: -210px;
    z-index: 100;
    width: 210px;
    height: 420px;
    margin: 0;
    padding: 5px;
    background-color: white;
    -webkit-transition-duration: 0.3s;
    /* анимационное выдвижение для всех браузеров*/
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-border-radius: 0 0 0 5px;
    /* закругление границ для всех браузеров*/
    -moz-border-radius: 0 0 0 5px;
    border-radius: 0 0 0 5px;
}

#panelr:hover {
    right: 210px;
    /* при наведении выдвигается на скрытые 200px + 20px отступы */
}

#panelr:hover #helpform {
    right: 0;
    /* при наведении выдвигается на скрытые 200px + 20px отступы */
}

.kate {
    display: block;
    z-index: 101;

}

.kateoff {
    display: none;
    z-index: 102;
}

#katetext {
    color: black;
    font-family: "RobotoLight", sans-serif;
    font-size: 10pt;
}

#waveform {
    border-radius: 6px;
    margin-top: 10px;
    padding: 8px;
    background-color: #EDEDED;
}

.anketa {
    padding: 10px;

}

/* */

.it_circle {
    background: rgba(255, 255, 255, 1);
    border-radius: 100%;
    width: 180px;
    height: 180px;
    display: inline-block;
    margin: 20px 20px;
    padding: 10px;
    color: #848484;
    font-family: 'RobotoRegular', sans-serif;
    font-size: 16px;
    text-align: center;
}

.it_circle span {
    font-family: 'RobotoRegular', sans-serif;
    color: #3A5CA4;
    display: block;
    font-size: 44px;
    line-height: 58px;
    padding-top: 30px;
    font-weight: 100;
}

.it_circle span i {
    font-style: normal;
}

#counts {

    background-image: url('../img/top_bg_blur.jpg');
    background-attachment: fixed;
    background-size: cover;
    margin: 55px 0 0 0;
    padding: 30px 0;
    box-shadow: -2px -2px 3px rgba(0, 0, 0, 0.4);

}

.tortila {
    background: url('../img/tortila1.png') no-repeat 50% 50%;
    background-size: 100%;
    display: inline-block;
    width: 240px;
    height: 130px;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-in-out;

}

.tortila:hover {
    background: url('../img/tortila2.png') no-repeat 50% 50%;
    background-size: 100%;
}

.ban01 {
    text-align: center;
    padding: 5px;
    margin-bottom: 0px;
}

.ban_on {
    text-transform: uppercase;
    visibility: visible;
    color: black;
}

.ban_off {
    visibility: hidden;
    color: white;
    padding: 0 0 15px 0;
    margin-bottom: 10px;
    transition: all 0.5s ease-in-out;
}

.tortila:hover ~ .ban_off {
    visibility: visible;
    color: black;
}

.mrg20 {
    margin-top: 20px;
}

.mrg50 {
    margin-top: 50px;
}


.font_sm {
    font-family: "RobotoLight", sans-serif;
    font-size: 14px;
    color: #e5e5e5;
    text-align: justify;
}

.font_bsm {
    font-family: "RobotoRegular", sans-serif;
    font-size: 14px;
    color: #e5e5e5;
    text-align: justify;
}

.tel {
    text-align: right;
    font-size: 11pt;
}

#beznalRU .modal-dialog {
    z-index: 1050;
    width: 60% !important;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
}

#beznalUA .modal-dialog {
    z-index: 1050;
    width: 60% !important;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
}

.btn_img {
    cursor: pointer;
}

.lenivec {
    display: block;
    height: 180px;
    padding-left: 15px;
}

.insideblock {
    padding: 20px 25px;
    margin: 0px 10px;
}

#player {
    height: 350px;
    width: 200px;
    margin: auto;
    margin-bottom: 20px;
}

.btn-success {
    background-color: #75b94c;
}

.help-block {
    font-size: 10pt;
}

input {
    font-size: 10pt;
    vertical-align: bottom;
    font-family: 'RobotoLight', sans-serif;
}
