span .speakers-stick {
    padding-left: 17px;
    font-size: 18px;
    line-height: 36px;
    font-family: 'Arial';
    color: #414162;
    box-sizing: border-box;
}

.search-input::placeholder {
    font-family: 'Arial';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
}
