@model object
<!-- Модальное окно Безнал по России-->
<div class="modal fade" id="Docorder" tabindex="-1" role="dialog" aria-labelledby="Docorder" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="order-docs" method="post">
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="Docorder">Заказать документы по электронной почте</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputName2">Название организации</label>
                        <input type="text" class="form-control" name="name" placeholder="Введите название компании" required>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label" required>Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" name="email" placeholder="Ваш Email">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>