<nav onmouseover="mouseOver()" onmouseout="mouseOut()" class="left-menu" id="menufixed">
    <ul>
        <li>
            <a>
                <img src="~/site2/img/icons/chef.svg" class="left-menu-first" />
                <span class="nav-text for-border js_open-modal">Онлайн заказ</span>
            </a>
        </li>
        <li>
            <a>
                <img class="left-menu-items" src="~/site2/img/page2.png" alt="Страницемер">
                <span class="nav-text for-border modal-btn-page">Страницемер</span>
            </a>
        </li>
        <li>
            <a>
                <img class="left-menu-items" src="~/site2/img/page3.png" />
                <span class="nav-text for-border modal-btn">Хронометраж</span>
            </a>

        </li>
        <li>
            <a href="@Url.Action("Contact", "Home")">
                <img class="left-menu-items" src="~/site2/img/setting4.png" />
                <span class="nav-text for-border">Контакты</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Cabinet", "Home")">
                <img class="left-menu-items" src="~/site2/img/room.png" />
                <span class="nav-text">Личный кабинет</span>
            </a>
        </li>
    </ul>
</nav>

<div class="modal-overlay">
    <div class="modal">
        <a class="close-modal">
            <img src="~/site2/img/icons/close-modal-svg.svg" alt="">
        </a>
        <div class="modal-content">
            <h3 class="txt-chronomer">
                <span class="chrono-clock"></span>
                ХРОНОМЕР
            </h3>
            <p class="text-definition">Определение хронометража рекламного текста</p>
            <div class="chronomer-block">
                <div class="chronomer-element">
                    <input type="checkbox" id="wanted_time" name="wanted_time" onchange="disable_time()"><label for="wanted_time" class="txt-required">Требуемый хронометраж</label><br>
                    <input type="number" class="chrono-time" name="iHronMin" min="0" max="60" size="5" id="menu_time_min" onblur="max_value('60', 'menu_time_min'), calc_sec()"><span class="txt-specks">:</span>
                    <input type="number" class="chrono-time" name="iHronSek" min="0" max="60" size="5" id="menu_time_sec" onblur="max_value('60', 'menu_time_sec'), calc_sec()"><br>
                    <input type="hidden" name="time_limit" id="time_limit" disabled="disabled">
                    <label class="txt-minutes" for="iHronMin">минут</label> <label class="txt-minutes" for="iHronSek">секунд</label>
                </div>
                <div class="chronomer-element">
                    <a href="http://gramota.ru" target="_blank" class="vocabulary-box">
                        <span class="dictionary"></span>
                        <span class="txt-vocabulary">РУССКИЙ СЛОВАРЬ</span>
                        <span class="arr-right"></span>
                    </a>
                    <a href="http://lcorp.ulif.org.ua/dictua/" target="_blank" class="vocabulary-box">
                        <span class="dictionary"></span>
                        <span class="txt-vocabulary">УКРАИНСКИЙ СЛОВАРЬ</span>
                        <span class="arr-right"></span>
                    </a>
                </div>
                <form>
                    <div class="chronomer-window">
                        <p class="copy-text">Скопируйте текст в окно. Удалите ремарки и коментарии</p>
                        <textarea class="input-paste-text" type="text" name="message" id="edit"></textarea>
                        <input type="hidden" id="user_time" style="display: none;" />
                        <button type="reset" class="btn-clear" id="clear_btn">
                            <span class="trash"></span>
                            <span class="cleartext">ОЧИСТИТЬ</span>
                        </button>
                        <button type="button" class="btn-general" onclick="calc();">
                            ОПРЕДЕЛИТЬ ХРОНОМЕТРАЖ
                            <svg class="icon-btn-triangle btn-svg">
                                <use xlink:href="#icon-triangle"></use>
                            </svg>
                        </button>
                        <div class="chronomer-results">
                            <span class="min-chrono-txt" id="min_hro">Минимальный хронометраж: <input id="total" type="text"></span>
                            <span>Всего слов: <input id="count_words" type="text"></span>
                            <span>
                                <span id="hrono_normal"></span>
                                <span id="free_words_div" style="display:none;"> Можно добавить: <b id="free"></b></span>
                                <span id="sp_words_div" style="display:none;"> Необходимо убрать: <b id="spare"></b></span>
                            </span>
                            <p><span id="comf">Оптимальный хронометраж: </span><input id="total2" type="text"></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal-overlay-page">
    <div class="modal-page">
        <a class="close-modal-page">
            <img src="~/site2/img/icons/close-modal-svg.svg" alt="">
        </a>
        <div class="modal-content-page">
            <form name="frmStranicemer">
                <h3 class="txt-chronomer">
                    <span class="stacimetr"></span>
                    Страницемер
                </h3>
                <p class="text-definition">Определение количества страниц текста</p>
                <div class="page-block">
                    <label class="txt-font">ШРИФТ</label>
                    <div class="custom-select">
                        <select name="selFont">
                            <option value="1" selected="selected">Times New Roman</option>
                            <option value="2">Arial</option>
                            <option value="3">Courier New</option>
                        </select>
                    </div>
                    <label class="txt-font txt-size">РАЗМЕР</label>
                    <div class="custom-select size">
                        <select name="selFontSize">
                            <option value="1" selected="selected">12</option>
                            <option value="2">14</option>
                            <option value="3">18</option>
                        </select>
                    </div>
                </div>
                <div class="chrono-page">
                    <div class="form_radio">
                        <input id="iFunctionType" name="iFunctionType" type="radio" value="2" checked onclick="activeTimeField()">
                        <label for="iFunctionType" class="page-txt-chrono">Хронометраж</label><br>
                    </div>
                    <input type="number" class="chrono-time" min="0" max="24" id="iKoefH" value="0"><span class="txt-specks">:</span>
                    <input type="number" class="chrono-time" min="0" max="60" id="iKoefM" value="0"><span class="txt-specks">:</span>
                    <span class="there-text">
                        Здесь может быть описание блока, которое разъяснит пользователю как пользоваться
                        формой
                    </span>
                    <input type="number" class="chrono-time" min="0" max="24" id="iKoefS" value="0"><br>
                    <label class="txt-minutes" for="iKoefH">часов</label>
                    <label class="txt-minutes" for="iKoefM">минут</label>
                    <label class="txt-minutes" for="iKoefS">секунд</label>
                </div>
                <div class="chronomer-window page-window">
                    <div class="content-page">
                        <div class="form_radio">
                            <input id="iFunctionType2" name="iFunctionType" type="radio" value="1" onclick="activeTimeField()">
                            <label for="iFunctionType2" class="copy-text copy-text-page">
                                Скопируйте текст в окно. Удалите ремарки и
                                коментарии
                            </label>
                        </div>
                        <textarea class="input-paste-page" type="text" id="tText" name="tText" disabled="disabled"></textarea>
                        <button type="button" class="btn-clear" onclick="document.getElementById('tText').value='';">
                            <img src="~/site2/img/icons/modal-clear.svg" /><span>ОЧИСТИТЬ</span>
                        </button>
                    </div>
                </div>
                <div class="chrono-page results">
                    <div class="txt-font" style="margin: 0;">
                        <span id="pagescntlbl" style="color: inherit">В тексте приблизительно:</span> <span id="pagescnt"></span> <span id="pagesfont"></span>
                    </div>
                </div>
                <button type="button" class="home-btn btn-send-form btn-send-form-order" style="margin: 50px auto 0;display: block;" onclick="CalculateText('1')">
                    ОПРЕДЕЛИТЬ СТРАНИЦЫ
                    <svg class="icon-btn-triangle btn-svg">
                        <use xlink:href="#icon-triangle"></use>
                    </svg>
                </button>
            </form>
        </div>
    </div>
</div>