@*<div class="container">
</div>
<div id="scrollup"><img alt="Прокрутить вверх" src="~/site/img/up.png"></div>*@
<a class="box-btn-over" href="#p1">
    <div class="btn-over">
        <svg class="icon-btn-triangle">
            <use xlink:href="#icon-triangle"></use>
        </svg>
    </div>
</a>
<div class="footer-flex">
    @await Component.InvokeAsync("FooterContent")
</div>
<hr class="footer-hr"/>
<p class="copyright">© 1999 - @DateTime.Today.Year SILA.FM. Все права защищены.</p>