@model List<Pras.Web.Models.HelperModels.Item>

@if (Model!=null && Model.Any())
{
    <div class="header-block">
            <div class="header-links">
                <div class="header-links__el">Избранные</div>
                <div class="header-links__info"></div>
            </div>
            <ul class="header-number">
                <li class="number-city">Киев<a href="tel:+380445457713" class="phone-number">+38 /044/ 545 77 13</a></li>
                <li class="number-city">Москва <a href="tel:+78005510551" class="phone-number">+7 /800/ 551 0 551</a></li>
            </ul>
    </div>

}